//! **************************************************************************
// Written by: Map P.20131013 on Tue May 15 22:13:14 2018
//! **************************************************************************

SCHEMATIC START;
COMP "HS" LOCATE = SITE "N6" LEVEL 1;
COMP "VS" LOCATE = SITE "P7" LEVEL 1;
COMP "Clk" LOCATE = SITE "V10" LEVEL 1;
COMP "reset" LOCATE = SITE "T9" LEVEL 1;
COMP "PS2KeyboardData" LOCATE = SITE "J13" LEVEL 1;
COMP "rgb<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "rgb<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "rgb<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "rgb<3>" LOCATE = SITE "T6" LEVEL 1;
COMP "rgb<4>" LOCATE = SITE "V6" LEVEL 1;
COMP "rgb<5>" LOCATE = SITE "U7" LEVEL 1;
COMP "rgb<6>" LOCATE = SITE "V7" LEVEL 1;
COMP "rgb<7>" LOCATE = SITE "N7" LEVEL 1;
COMP "paused" LOCATE = SITE "T10" LEVEL 1;
COMP "PS2KeyboardClock" LOCATE = SITE "L12" LEVEL 1;
SCHEMATIC END;

